{% extends "layout.html" %}

{% block body %}
<div class="setup">
    <img src="/static/logo.png" alt="MLBB Logo" class="logo">

    <form action="/links" method="post">
        <div class="container">
            <label for="blue_team">BLUE TEAM</label>
            <div>
                <input class="name_input" type="text" id="blue_team" name="blue_team" value="" maxlength="30"
                    placeholder="Team 1" autofocus autocomplete="off">
            </div>
            <br>
            <label for="red_team">RED TEAM</label>
            <div><input class="name_input" type="text" id="red_team" name="red_team" value="" maxlength="30"
                    placeholder="Team 2" autocomplete="off"></div>
            <br>
            <div><button class="create" type="submit">CREATE</button></div>
        </div>
    </form>
</div>
<br>
<br>
{% endblock %}