{% extends "layout.html" %}

{% block body %}
<div class="setup">
    <img src="/static/logo.png" alt="MLBB Logo" class="logo">
    <div class="container">
        <div class="row">
            <label for="blue_link">BLUE TEAM BAN PICK LINK</label>
            <div class="col-9">
                <a href="{{ url_for('draft', draft=draft, auth=blue, _external=True) }}" target="_blank"><input class="link_input" type="text" id="blue_link"
                        value="{{ url_for('draft', draft=draft, auth=blue, _external=True) }}"
                        maxlength="30" readonly></a>
            </div>
            <div class="col-3">
                <button data-linkid="blue_link" class="copy">Copy</button>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="red_link">RED TEAM BAN PICK LINK</label>
            <div class="col-9">
                <a href="{{ url_for('draft', draft=draft, auth=red, _external=True) }}" target="_blank"><input class="link_input" type="text"
                        id="red_link"
                        value="{{ url_for('draft', draft=draft, auth=red, _external=True) }}"
                        maxlength="30" readonly></a>
            </div>
            <div class="col-3">
                <button data-linkid="red_link" class="copy">Copy</button>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="spec_link">SPECTATOR LINK</label>
            <div class="col-9">
                <a href="{{ url_for('draft', draft=draft, _external=True) }}" target="_blank"><input class="link_input" type="text"
                        id="spec_link"
                        value="{{ url_for('draft', draft=draft, _external=True) }}"
                        maxlength="30" readonly></a>
            </div>
            <div class="col-3">
                <button data-linkid="spec_link" class="copy">Copy</button>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}