{% extends "layout.html" %}

{% block body %}

<div class="draft_bg">
    <div class="teams_timer_bar">
        <div class="blue_bg not_your_turn" id="blue_header">
            <span class="timer_blue"></span>
            <p id="team1"></p>
        </div>
        <div id="timer_container">
            <p id="timer"></p>
            <p id="timer_subtext"></p>
        </div>
        <div class="red_bg not_your_turn" id="red_header">
            <p id="team2"></p>
        </div>
    </div>
    <div class="bp_wrapper">
        <div class="ban">
            <div class="blue_bp">
                <div class="blue_infobox" id="pickban_1">
                    <div class="img_infobox" id="infobox_1"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_1"></span>
                    <span class="img_hlb d-none" id="hl_1"></span>
                </div>
                <div class="blue_infobox" id="pickban_3">
                    <div class="img_infobox" id="infobox_3"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_3"></span>
                    <span class="img_hlb d-none" id="hl_3"></span>
                </div>
                <div class="blue_infobox" id="pickban_5">
                    <div class="img_infobox" id="infobox_5"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_5"></span>
                    <span class="img_hlb d-none" id="hl_5"></span>
                </div>
                <div class="blue_infobox" id="pickban_14">
                    <div class="img_infobox" id="infobox_14"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_14"></span>
                    <span class="img_hlb d-none" id="hl_14"></span>
                </div>
                <div class="blue_infobox" id="pickban_16">
                    <div class="img_infobox" id="infobox_16"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_16"></span>
                    <span class="img_hlb d-none" id="hl_16"></span>
                </div>
            </div>
            <div>&emsp;</div>
            <div class="red_bp">
                <div class="red_infobox" id="pickban_2">
                    <div class="img_infobox" id="infobox_2"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_2"></span>
                    <span class="img_hlr d-none" id="hl_2"></span>
                </div>
                <div class="red_infobox" id="pickban_4">
                    <div class="img_infobox" id="infobox_4"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_4"></span>
                    <span class="img_hlr d-none" id="hl_4"></span>
                </div>
                <div class="red_infobox" id="pickban_6">
                    <div class="img_infobox" id="infobox_6"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_6"></span>
                    <span class="img_hlr d-none" id="hl_6"></span>
                </div>
                <div class="red_infobox" id="pickban_13">
                    <div class="img_infobox" id="infobox_13"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_13"></span>
                    <span class="img_hlr d-none" id="hl_13"></span>
                </div>
                <div class="red_infobox" id="pickban_15">
                    <div class="img_infobox" id="infobox_15"></div>
                    <img class="img_overlay" alt="ban_mark" src="static/hero_assets/infobox/ban_mark.png">
                    <span class="img_text" id="infotext_15"></span>
                    <span class="img_hlr d-none" id="hl_15"></span>
                    <img class="img_infobox" alt="placeholder image"
                        src="/static/hero_assets/infobox/600px-Diggie_infobox.jpg" style="visibility: hidden">
                </div>
            </div>
        </div>
        <div class="pick">
            <div class="blue_bp">
                <div class="blue_infobox" id="pickban_7">
                    <div class="img_infobox" id="infobox_7"></div>
                    <span class="img_text" id="infotext_7"></span>
                    <span class="img_hlb d-none" id="hl_7"></span>
                </div>
                <div class="blue_infobox" id="pickban_10">
                    <div class="img_infobox" id="infobox_10"></div>
                    <span class="img_text" id="infotext_10"></span>
                    <span class="img_hlb d-none" id="hl_10"></span>
                </div>
                <div class="blue_infobox" id="pickban_11">
                    <div class="img_infobox" id="infobox_11"></div>
                    <span class="img_text" id="infotext_11"></span>
                    <span class="img_hlb d-none" id="hl_11"></span>
                </div>
                <div class="blue_infobox" id="pickban_18">
                    <div class="img_infobox" id="infobox_18"></div>
                    <span class="img_text" id="infotext_18"></span>
                    <span class="img_hlb d-none" id="hl_18"></span>
                </div>
                <div class="blue_infobox" id="pickban_19">
                    <div class="img_infobox" id="infobox_19"></div>
                    <span class="img_text" id="infotext_19"></span>
                    <span class="img_hlb d-none" id="hl_19"></span>
                </div>
            </div>
            <div>&emsp;</div>
            <div class="red_bp">
                <div class="red_infobox" id="pickban_8">
                    <div class="img_infobox" id="infobox_8"></div>
                    <span class="img_text" id="infotext_8"></span>
                    <span class="img_hlr d-none" id="hl_8"></span>
                </div>
                <div class="red_infobox" id="pickban_9">
                    <div class="img_infobox" id="infobox_9"></div>
                    <span class="img_text" id="infotext_9"></span>
                    <span class="img_hlr d-none" id="hl_9"></span>
                </div>
                <div class="red_infobox" id="pickban_12">
                    <div class="img_infobox" id="infobox_12"></div>
                    <span class="img_text" id="infotext_12"></span>
                    <span class="img_hlr d-none" id="hl_12"></span>
                </div>
                <div class="red_infobox" id="pickban_17">
                    <div class="img_infobox" id="infobox_17"></div>
                    <span class="img_text" id="infotext_17"></span>
                    <span class="img_hlr d-none" id="hl_17"></span>
                </div>
                <div class="red_infobox" id="pickban_20">
                    <div class="img_infobox" id="infobox_20"></div>
                    <span class="img_text" id="infotext_20"></span>
                    <span class="img_hlr d-none" id="hl_20"></span>
                    <img class="img_infobox" alt="placeholder image"
                        src="/static/hero_assets/infobox/600px-Diggie_infobox.jpg" style="visibility: hidden">
                </div>
            </div>
        </div>
    </div>
    <div class="filter_search_bar">
        <div class="filter d-none">
            <img class="filter_icon" id="tank" alt="tank" src="/static/role_assets/tank.png">
            <img class="filter_icon" id="fighter" alt="fighter" src="/static/role_assets/fighter.png">
            <img class="filter_icon" id="assassin" alt="assassin" src="/static/role_assets/assassin.png">
            <img class="filter_icon" id="mage" alt="mage" src="/static/role_assets/mage.png">
            <img class="filter_icon" id="marksman" alt="marksman" src="/static/role_assets/marksman.png">
            <img class="filter_icon" id="support" alt="support" src="/static/role_assets/support.png">
        </div>
        <button id="ready" class="ready">READY CHECK</button>
        <div class="search d-none">
            <input id="search_input" class="search_input" autocomplete="off" autofocus placeholder="Search"
                type="search">
            <button id="select" class="select">Select</button>
        </div>
    </div>
    <div class="scrollbar heroes_list" id="heroes_list"></div>
</div>
</div>
{% endblock %}