{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
<div class="card container">
<table class="table table-striped-columns table-hover">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in transactions %}
        <tr>
            <td class="text-start">{{ row.symbol }}</td>
            <td class="text-start">{{ row.name }}</td>
            <td class="text-end">{{ row.shares }}</td>
            <td class="text-end">{{ row.price | usd }}</td>
            <td class="text-end">{{ row.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}